@import '../../../../../styles/medias.scss';

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(auto-fit, 1fr));
  grid-template-areas:
    "name name name"
    "image image image"
    "attack defense actions";
  @include sm-screen() {
    display: flex;
    width: 100%;
  }

  .name {
    grid-area: name;
  }
  .image {
    grid-area: image;
  }
  .attack {
    grid-area: attack;
  }
  .defense {
    grid-area: defense;
  }
  .actions {
    grid-area: actions;
  }

  .col {
    flex: 1;
    border: solid 1px #e2e6ea;
    padding: 12px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  img {
    width: 100%;
    height: auto;
  }

  .center {
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    padding: 12px 4px;
    @include sm-screen() {
      justify-content: space-around;
      padding: 12px;
    }
  }
}

div {
  box-sizing: border-box;
}
