.wrapper {
  padding: 16px 22px;
  border: solid 1px #e2e6ea;
  border-radius: 8px;

  .title {
    display: flex;
    font-weight: 700;
    justify-content: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .range-field {
    align-self: flex-end;
    padding-bottom: 8px;
  }

  .actions {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin: 20px 8px 8px;
  }
}
